@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section{
    @apply py-10 container px-6 mx-auto
  }

  .topic-title{
    @apply text-3xl md:text-5xl text-blue-500 font-semibold text-center md:text-left
  }

  .list-cards{
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6
  }

  .not-found-title{
    @apply text-center text-xl text-gray-600 mt-10 w-full
  }
}


:root {

}


@media (prefers-color-scheme: dark) {
  :root {
   
  }
}


body {
  padding-top: 5rem;
  content: var(--current-breakpoint);
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  width: 8px; /* largura da scrollbar */
}

body::-webkit-scrollbar-track {
  background: #f1f1f1; /* cor do fundo da trilha */
}

body::-webkit-scrollbar-thumb {
  background-color: #2b6cb0; /* azul escuro (Tailwind: blue-700) */
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* espaçamento entre thumb e track */
}
