@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

}


@media (prefers-color-scheme: dark) {
  :root {
   
  }
}


body {
  padding-top: 5rem;
  content: var(--current-breakpoint);
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
